<h1>{{ project.name }}</h1>
<h2>Feature: {{ feature.name }}</h2>
<h3>Test Cases</h3>
<a href='{% url "projects:testcase_add" project.pk feature.pk %}'>Add Test Case</a>
<ul>
    {% for testcase in testcase_list %}
        <li>
            {{ testcase.description }} |
            <a href='{% url "projects:testcase_detail" project.pk feature.pk testcase.pk %}'>View</a> |
            <a href='{% url "projects:testcase_update" project.pk feature.pk testcase.pk %}'>Update</a> |
            <a href='{% url "projects:testcase_delete" project.pk feature.pk testcase.pk %}'>Delete</a>
        </li>
    {% endfor %}
</ul>