<h1>{{ project.name }}</h1>


{% if feature_list %}
<h2>Features</h2>
<ul>
    {% for feature in feature_list %}
        <li><a href="{% url 'projects:feature_detail' project.id feature.id %}">{{ feature.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}


{% if browser_list %}
<h2>Browsers</h2>
<a href='{% url "projects:browser_add" project.id %}'>Add</a>
<ul>
    {% for browser in browser_list %}
        <li>{{ browser.name }}, {{ browser.operating_system }} </li>
    {% endfor %}
</ul>
{% endif %}



